.copy-value {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;

    .prop-list {
        margin-right: 15px;
        display: flex;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            border: 1px solid #ccc;

            li {
                .cell {
                    padding: 5px 10px;
                }

                .cell-header {
                    background: #f2f2f2;
                }
            }

            &.list-from {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            &.list-to {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border-left: 0;
            }
        }
    }

    .button {
        background: #39d38b;
        color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        min-width: 130px;
        padding: 10px 16px;
        margin: 0;
        text-align: center;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        max-height: 22px;

        &:hover {
            background: #33bf81;
        }
    }

    .done {
        background: #92163a;
        cursor: not-allowed;

        &:hover {
            background: #ccc;
        }
    }
}
