<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="2" version="8.18.7" url="https://our.umbraco.com/packages/backoffice-extensions/ad-preview/" name="SplatDev.Umbraco.Plugins.AdPreview" packagePath="~/media/created-packages/SplatDev.Umbraco.Plugins.AdPreview_8.18.7.zip" iconUrl="https://github.com/ccasalicchio/Umbraco-Packages-v8/blob/main/Umbraco.Plugins.AdPreview/icon.png?raw=true" umbVersion="8.18.7" packageGuid="e242ad7b-b88e-44d9-adb9-e11c4dceac32" view="">
    <license url="http://opensource.org/licenses/MIT"><![CDATA[MIT License]]></license>
    <author url="https://splatdev.com"><![CDATA[SplatDev Ltda]]></author>
    <contributors>
      <contributor>Carlos Casalicchio</contributor>
    </contributors>
    <readme><![CDATA[# Ad Display for Umbraco 8.18.7+

- Creates a Data Type to display a preview of an image ad in the backoffice
	![Imgur](https://i.imgur.com/xyDIfYY.png)
	![Imgur](https://i.imgur.com/VIxIxsK.png)
- It also comes with a basic front-end example and css for styling
	![Imgur](https://i.imgur.com/TzUfu4z.png)

##### Specs
- Value Type: JSON

[Feedback](mailto:feedback@splatdev.com) is appreciated]]></readme>
    <actions></actions>
    <datatypes>1060</datatypes>
    <content nodeId="" loadChildNodes="false" />
    <templates>1064</templates>
    <stylesheets>styles.css,image-ad.css</stylesheets>
    <documentTypes>1061</documentTypes>
    <macros></macros>
    <files>
      <file>App_Plugins/AdPreview</file>
    </files>
    <languages></languages>
    <dictionaryitems></dictionaryitems>
  </package>
  <package id="3" version="8.18.8" url="https://our.umbraco.com/packages/website-utilities/social-media-channels/" name="SplatDev.Umbraco.Plugins.SocialMediaChannels" packagePath="~/media/created-packages/SplatDev.Umbraco.Plugins.SocialMediaChannels_8.18.8.zip" iconUrl="https://i.imgur.com/72C1RYe.png" umbVersion="8.18.8" packageGuid="21eadcef-17c5-4198-af75-68df2d810c31" view="">
    <license url="http://opensource.org/licenses/MIT"><![CDATA[MIT License]]></license>
    <author url="https://splatdev.com"><![CDATA[SplatDev Ltda]]></author>
    <contributors />
    <readme><![CDATA[---------------------------------------------------------------------------

Social Media Channels for Umbraco 8.18.8

---------------------------------------------------------------------------
- Creates a Data Type/Property Editor to set and configure social media channel icons
- It also comes with a basic front-end example and css for styling

##### Specs
- Value Type: JSON

feedback@splatdev.com is appreciated]]></readme>
    <actions></actions>
    <datatypes>1073,1076</datatypes>
    <content nodeId="" loadChildNodes="false" />
    <templates>1072</templates>
    <stylesheets></stylesheets>
    <documentTypes></documentTypes>
    <macros></macros>
    <files>
      <file>/App_Plugins/SocialMediaChannels</file>
      <file>bin/Umbraco.Plugins.SocialMediaChannels.dll</file>
    </files>
    <languages></languages>
    <dictionaryitems></dictionaryitems>
  </package>
  <package id="4" version="8.18.8" url="https://our.umbraco.com/packages/backoffice-extensions/default-value/" name="SplatDev.Umbraco.Plugins.DefaultValue" packagePath="~/media/created-packages/SplatDev.Umbraco.Plugins.DefaultValue_8.18.8.zip" iconUrl="https://i.imgur.com/XvDVqrM.png" umbVersion="8.18.8" packageGuid="d894d6e6-cf01-4c5d-bff9-11a199d367c5" view="">
    <license url="http://opensource.org/licenses/MIT"><![CDATA[MIT License]]></license>
    <author url="https://splatdev.com/"><![CDATA[SlatDev Ltda]]></author>
    <contributors />
    <readme><![CDATA[# Default Value Property Editor

for Umbraco v8.18.8

- Creates a Data Type with a Default Value (used for properties that cannot be modified)

This was useful for a project that implements the schema.org types, so each page (article, news, foto) has a default value (Article, newsArticle, Photograph) that may be overridden by another schema.org object type, but if the user does not override anything, the default is used. Therefore, the default cannot be changed.

There can be plenty of other reasons to add a "cannot be modified" property to a document, so the package is now public.

Visit the Project Page https://our.umbraco.org/projects/backoffice-extensions/default-value/ in the Umbraco Community

Install via nuget

		Install-Package SplatDev.Umbraco.Plugins.DefaultValue -Version 1.3.0.0

Specs
- Value Type: TEXT

feedback@splatdev.com is appreciated]]></readme>
    <actions></actions>
    <datatypes>1077</datatypes>
    <content nodeId="" loadChildNodes="false" />
    <templates></templates>
    <stylesheets></stylesheets>
    <documentTypes></documentTypes>
    <macros></macros>
    <files>
      <file>/App_Plugins/DefaultValue</file>
      <file>bin/Umbraco.Plugins.DefaultValue.dll</file>
    </files>
    <languages></languages>
    <dictionaryitems></dictionaryitems>
  </package>
  <package id="5" version="8.18.8" url="https://our.umbraco.com/packages/backoffice-extensions/visit-counter/" name="SplatDev.Umbraco.Plugins.SimpleAnalytics" packagePath="~/media/created-packages/SplatDev.Umbraco.Plugins.SimpleAnalytics_8.18.8.zip" iconUrl="https://i.imgur.com/rXi4lxH.png" umbVersion="8.18.8" packageGuid="6626261d-8d81-4683-9a83-a9b00fefedc9" view="">
    <license url="http://opensource.org/licenses/MIT"><![CDATA[MIT License]]></license>
    <author url="https://splatdev.com"><![CDATA[SplatDev Ltda]]></author>
    <contributors />
    <readme><![CDATA[---------------------------------------------------------------------------

Simple Analytics (former Visit Counter) for Umbraco 8.18.8

---------------------------------------------------------------------------

Umbraco v8.18.8
•Simple analytics to keep track of visits within the site (for page counters and such)

Simple Analytics Script
•A js script to track the visits of your site, grabs the node Id, the public IP address, and saves it to the database
•Connects to https://api.ipify.org?format=text to get the public IP address. You are free to change it.
•Uses the Lite version of the IP2Location BIN https://lite.ip2location.com to get location information
•Comes with a basic front-end example

Simple Analytics Dashboard
•Installs a Dashboard to both Content and Settings, to display a summary of the analytics information
•Displays Browser User Agent, Location, IP, and Duration of Visits
•Lists entry and exit Urls
•Basic widgets with useful information

Visit the Project Page in the Umbraco Community

Install via Nuget

	Install-Package SplatDev.Umbraco.Plugins.SimpleAnalytics


Specs
•Creates a new Table  Analitics Visits 

feedback@splatdev.com is appreciated]]></readme>
    <actions></actions>
    <datatypes>1075,1072</datatypes>
    <content nodeId="" loadChildNodes="false" />
    <templates>1072</templates>
    <stylesheets></stylesheets>
    <documentTypes></documentTypes>
    <macros></macros>
    <files>
      <file>App_Plugins/SimpleAnalytics</file>
      <file>bin/Umbraco.Plugins.SimpleAnalytics.dll</file>
      <file>scripts/analytics.js</file>
      <file>Views/Example-Analytics.cshtml</file>
      <file>Views/Partials/_analytics.cshtml</file>
    </files>
    <languages></languages>
    <dictionaryitems></dictionaryitems>
  </package>
  <package id="6" version="8.18.8" url="https://our.umbraco.org/projects/backoffice-extensions/hide-content/" name="SplatDev.Umbraco.Plugins.HideContent" packagePath="~/media/created-packages/SplatDev.Umbraco.Plugins.HideContent_8.18.8.zip" iconUrl="https://i.imgur.com/aKcpi4b.png" umbVersion="8.18.8" packageGuid="0d4febab-4cd0-420e-aa5a-67b9eb412f82" view="">
    <license url="http://opensource.org/licenses/MIT"><![CDATA[MIT License]]></license>
    <author url="https://splatdev.com/"><![CDATA[SlatDev Ltda]]></author>
    <contributors />
    <readme><![CDATA[Hide Content

Implements a visual representation (hidden/visible) for the umbracoNaviHide property

Umbraco v8.18.8

- Creates a Data Type 'Hide Content'


Visit the Project Page https://our.umbraco.org/projects/backoffice-extensions/hide-content/ in the Umbraco Community

Install via Nuget

		Install-Package SplatDev.Umbraco.Plugins.HideContent

Specs
- Value Type: INT
 

feedback@splatdev.com is appreciated]]></readme>
    <actions></actions>
    <datatypes>1067</datatypes>
    <content nodeId="" loadChildNodes="false" />
    <templates></templates>
    <stylesheets></stylesheets>
    <documentTypes></documentTypes>
    <macros></macros>
    <files>
      <file>/App_Plugins/HideContent</file>
      <file>bin/Umbraco.Plugins.HideContent.dll</file>
    </files>
    <languages></languages>
    <dictionaryitems></dictionaryitems>
  </package>
  <package id="7" version="8.18.8" url="https://our.umbraco.com/packages/backoffice-extensions/copy-value/" name="SplatDev.Umbraco.Plugins.CopyValue" packagePath="~/media/created-packages/SplatDev.Umbraco.Plugins.CopyValue_8.18.8.zip" iconUrl="https://i.imgur.com/iysfBSL.png" umbVersion="8.18.8" packageGuid="457ffde2-93bc-4c22-9cc1-979a782dfb25" view="">
    <license url="http://opensource.org/licenses/MIT"><![CDATA[MIT License]]></license>
    <author url="https://splatdev.com/"><![CDATA[SlatDev Ltda]]></author>
    <contributors />
    <readme><![CDATA[Copy Value

This Property Editor is a simple copy button that copies one or many values from a property into another property. Useful when you have more than one property with the same purpose, but that may or may not be the same value. Minimizes duplication of work. Ex. When you want an article title to replicate the meta title.

Umbraco v8.18.8
•Creates a button that copies values from one (or several) property into another. The values are copied following the same index of the string array.
•The Required Fields are 'From' and 'To', which can be multiple properties, comma separated
•Supports en-US and pt-BR

Visit the Project Page in the Umbraco Community

Install via Nuget
	Install-Package SplatDev.Umbraco.Plugins.CopyValue


Specs
•Value Type: NA


feedback@splatdev.com is appreciated]]></readme>
    <actions></actions>
    <datatypes>1079,1078</datatypes>
    <content nodeId="" loadChildNodes="false" />
    <templates></templates>
    <stylesheets></stylesheets>
    <documentTypes></documentTypes>
    <macros></macros>
    <files>
      <file>/App_Plugins/CopyValue</file>
      <file>bin/Umbraco.Plugins.CopyValue.dll</file>
    </files>
    <languages></languages>
    <dictionaryitems></dictionaryitems>
  </package>
  <package id="8" version="8.18.8" url="https://our.umbraco.com/packages/backoffice-extensions/input-character-limit/" name="SplatDev.Umbraco.Plugins.CharLimitRestrict" packagePath="~/media/created-packages/SplatDev.Umbraco.Plugins.CharLimitRestrict_8.18.8.zip" iconUrl="https://i.imgur.com/01ZlAFj.png" umbVersion="8.18.8" packageGuid="9cd1432f-fd88-46f9-86ec-48e4898e8f96" view="">
    <license url="http://opensource.org/licenses/MIT"><![CDATA[MIT License]]></license>
    <author url="https://splatdev.com/"><![CDATA[SlatDev Ltda]]></author>
    <contributors />
    <readme><![CDATA[Char Limit Restrict

former Char Limit Property Editor

A textbox or textarea based on character limit (textbox for less than 100, and textarea for over 100 characters) that counts the number of characters and blocks further typing of limit is reached. Based off the Char Limit Demo from Nibble http://www.nibble.be/?p=285 but more visually rich.


Umbraco v8.18.8
•Support en-US and pt-BR and nl-NL

Visit the Project Page in the Community

Install via Nuget
	Install-Package SplatDev.Umbraco.Plugins.CharLimitRestrict


Specs
•Value Type: NA

feedback@splatdev.com is appreciated]]></readme>
    <actions></actions>
    <datatypes>1080,1081,1064</datatypes>
    <content nodeId="" loadChildNodes="false" />
    <templates></templates>
    <stylesheets></stylesheets>
    <documentTypes></documentTypes>
    <macros></macros>
    <files>
      <file>/App_Plugins/CharLimitRestrict</file>
      <file>bin/Umbraco.Plugins.CharLimit.dll</file>
    </files>
    <languages></languages>
    <dictionaryitems></dictionaryitems>
  </package>
  <package id="9" version="8.18.8" url="https://our.umbraco.org/projects/backoffice-extensions/restrict-page/" name="SplatDev.Umbraco.Plugins.RestrictPage" packagePath="~/media/created-packages/SplatDev.Umbraco.Plugins.RestrictPage_8.18.8.zip" iconUrl="https://i.imgur.com/cSpxxl6.png" umbVersion="8.18.8" packageGuid="18b55f1a-8fe7-473e-a20c-d94965a8be26" view="">
    <license url="http://opensource.org/licenses/MIT"><![CDATA[MIT License]]></license>
    <author url="https://splatdev.com/"><![CDATA[SlatDev Ltda]]></author>
    <contributors />
    <readme><![CDATA[Restrict Page

A simple visual representation of a restricted page (for members navigation for example)

Umbraco v8.18.8
•Creates a Data Type 'Restrict Page'

Visit the Project Page in the Umbraco Community

Install via Nuget

	Install-Package SplatDev.Umbraco.Plugins.RestrictPage


Specs
•Value Type: INT

feedback@splatdev.com is appreciated]]></readme>
    <actions></actions>
    <datatypes>1082,1069</datatypes>
    <content nodeId="" loadChildNodes="false" />
    <templates></templates>
    <stylesheets></stylesheets>
    <documentTypes></documentTypes>
    <macros></macros>
    <files>
      <file>/App_Plugins/RestrictPage</file>
      <file>bin/Umbraco.Plugins.RestrictPage.dll</file>
    </files>
    <languages></languages>
    <dictionaryitems></dictionaryitems>
  </package>
  <package id="10" version="8.18.8" url="https://our.umbraco.com/packages/backoffice-extensions/youtube-video-property-editor/" name="SplatDev.Umbraco.Plugins.YouTubePreview" packagePath="~/media/created-packages/SplatDev.Umbraco.Plugins.YouTubePreview_8.18.8.zip" iconUrl="https://i.imgur.com/9vAqiR1.png" umbVersion="8.18.8" packageGuid="d9017d8f-f242-4450-8399-169b270979b0" view="">
    <license url="http://opensource.org/licenses/MIT"><![CDATA[MIT License]]></license>
    <author url="https://splatdev.com/"><![CDATA[SlatDev Ltda]]></author>
    <contributors />
    <readme><![CDATA[YouTube Preview

A simple YouTube property editor that has a preview box for the video.

You may insert the Id of any YouTube video and below the video box will display the preview.

Umbraco v8.18.8
•Creates a Data Type 'YoutubePreview'

Visit the Project Page in the Umbraco Community

Install via Nuget
	Install-Package SplatDev.Umbraco.Plugins.YouTubePreview


Specs
•Value Type: STRING

feedback@splatdev.com is appreciated]]></readme>
    <actions></actions>
    <datatypes>1083,1075</datatypes>
    <content nodeId="" loadChildNodes="false" />
    <templates></templates>
    <stylesheets></stylesheets>
    <documentTypes></documentTypes>
    <macros></macros>
    <files>
      <file>/App_Plugins/YouTubePreview</file>
      <file>bin/Umbraco.Plugins.YouTubePreview.dll</file>
    </files>
    <languages></languages>
    <dictionaryitems></dictionaryitems>
  </package>
  <package id="11" version="2.0.1" url="https://our.umbraco.com/packages/backoffice-extensions/on-off-button/" name="SplatDev.Umbraco.Plugins.OnOffButton" folder="6d314a1c-bf72-44b6-b712-fb7e88b1f9b9" packagepath="~/media/created-packages/SplatDev.Umbraco.Plugins.OnOffButton_2.0.1.zip" repositoryGuid="" iconUrl="https://i.imgur.com/egm8pLz.png" umbVersion="7.15.10" packageGuid="d1da5bc8-acc2-4fc8-9bbc-c8e29874892f" hasUpdate="False" enableSkins="False" skinRepoGuid="00000000-0000-0000-0000-000000000000">
    <license url="http://opensource.org/licenses/MIT">MIT License</license>
    <author url="https://splatdev.com/">SlatDev Ltda</author>
    <readme><![CDATA[On-Off Button

A fancy representation of the true/false editor. Very simple, but helps conveying image statuses to backoffice users, instead of using a dull checkbox

Umbraco v7.15.10
•Creates a Data Type of 'OnOffButton'
•Based of https://proto.io/freebies/onoff/

Visit the Project Page in the Umbraco Community

Install via Nuget
	Install-Package SplatDev.Umbraco.Plugins.OnOffButton


Specs
•Value Type: INT


feedback@splatdev.com is appreciated]]></readme>
    <actions></actions>
    <datatypes>1084</datatypes>
    <content nodeId="" loadChildNodes="False"></content>
    <templates></templates>
    <stylesheets></stylesheets>
    <documenttypes></documenttypes>
    <macros></macros>
    <files>
      <file>/App_Plugins/OnOffButton</file>
    </files>
    <languages></languages>
    <dictionaryitems></dictionaryitems>
    <loadcontrol></loadcontrol>
  </package>
  <package id="12" version="1.0.0" url="https://our.umbraco.com/packages/backoffice-extensions/simple_backups/" name="SplatDev.Umbraco.Plugins.Backups" packagePath="~/media/created-packages/SplatDev.Umbraco.Plugins.Backups_1.0.0.zip" iconUrl="https://i.imgur.com/U3JDH4J.png" umbVersion="8.18.7" packageGuid="5ea053e4-0776-40b1-b4d0-b4626aea6103" view="">
    <license url="http://opensource.org/licenses/MIT"><![CDATA[MIT License]]></license>
    <author url="https://www.splatdev.com"><![CDATA[SplatDev Ltda]]></author>
    <contributors>
      <contributor>Carlos Casalicchio</contributor>
    </contributors>
    <readme><![CDATA[Simple Backups

for Umbraco v8.18.7

Install via nuget

		Install-Package SplatDev.Umbraco.Plugins.Backups

A simple backup tool for Umbraco. Allows backing up files and database directly from the backoffice, when you don't have access to the server.

- Creates a Dashboard to perform backups from the backoffice
- It also works when using SQLCE

Specs
- Type: Dashboard
- Value Type: NONE
- Dependencies:
  - System.IO.Compression
  - System.IO.Compression.FileSystem]]></readme>
    <actions></actions>
    <datatypes></datatypes>
    <content nodeId="" loadChildNodes="false" />
    <templates></templates>
    <stylesheets></stylesheets>
    <documentTypes></documentTypes>
    <macros></macros>
    <files>
      <file>App_Plugins/Dashboards</file>
    </files>
    <languages></languages>
    <dictionaryitems></dictionaryitems>
  </package>
</packages>